.banner {
    background-image: url(../images/truck7.jpg);
    background-position: bottom;
    padding: 60px 0px;
}

.title-banner {
    margin-top: 0%;
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 2.5rem;
}

.title-banner b {
    font-size: 4rem;
}

hr {
    width: 35%;
    border: 2px solid rgb(255, 0, 0);
}

.button-banner {
    background: rgb(255, 0, 0);
    border: none;
    margin-top: 2%;
    font-size: 1.5rem;
    padding: 8px 30px;
    border-radius: 10px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
