@media (max-width: 767px) {
	.navbar-default .navbar-nav > li:hover > a:after {
        content: "";
        height: 0;
        width: 0;
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 0px solid red;
        position: absolute;
        bottom: -1px;
        left: 50%;
        margin: 0 0 0 -3px;
        z-index: 100;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    	background: rgb(100, 100, 100);
        color: rgb(255, 255, 255);
    }

    .header-text {
        position: absolute;
        top: 15%;
        left: 1.8%;
        right: auto;
        width: 96.66666666666666%;
        color: #fff;
    }

    .carousel-title {
        font-size: 2rem;
    }

    .carousel-title b {
        font-size: 2.5rem;
    }

    .carousel-button {
        background: rgb(255, 0, 0);
        border: none;
        font-size: 1.5rem;
        margin-top: 10px;
        padding: 8px 20px;
        border-radius: 10px;
        font-weight: 900;
    }

    .title-banner {
        font-weight: 300;
        font-size: 1.5rem;
    }

    .title-banner b {
        font-size: 2.5rem;
    }

    hr {
        width: 40%;
        border: 1.5px solid rgb(255, 0, 0);
    }

    .button-banner {
        font-size: 1rem;
        padding: 5px 25px;
        border-radius: 4px;
    }

    .notes {
        text-align: center
    }

    .down-app {
        text-align: center;
    }

    .app-title {
    	font-weight: 900;
    	font-size: 2.5rem;
    }

    .app-text {
        font-size: 1rem;
    }

    .footer {
        text-align: center;
        margin-top: 30px;
    }

    .footer-data {
        text-align: left;
    }

    .social-media {
        text-align: center;
        margin-top: 0px;
    }

    .social-media  br {
        display: none;
    }

    .footer-media {
        margin-left: 10px;
    }

    .footer-media {
        width: 30px;
        padding: 20 0px;
        background: rgb(255, 255, 255);
        height: 30px;
        display: inline-block;
        text-align: center;
        line-height: 33px;
        border-radius: 30px;
        color: rgb(0, 0, 0);
        margin-top: 10px;
    }
}

@media (max-width: 400px) {
	.navbar-default .navbar-nav > li:hover > a:after {
        content: "";
        height: 0;
        width: 0;
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 0px solid red;
        position: absolute;
        bottom: -1px;
        left: 50%;
        margin: 0 0 0 -3px;
        z-index: 100;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    	background: rgb(100, 100, 100);
        color: rgb(255, 255, 255);
    }

    .header-text {
        position: absolute;
        top: 10%;
        left: 1.8%;
        right: auto;
        width: 96.66666666666666%;
        color: #fff;
    }

    .carousel-title {
        font-size: 1rem;
    }

    .carousel-title b {
        font-size: 1.5rem;
    }

    .carousel-button {
        background: rgb(255, 0, 0);
        border: none;
        font-size: .8rem;
        margin-top: 5px;
        padding: 5px 15px;
        border-radius: 5px;
        font-weight: 900;
    }

    .title-banner {
        font-weight: 300;
        font-size: 1rem;
    }

    .title-banner b {
        font-size: 1.5rem;
    }

    hr {
        width: 40%;
        border: 1px solid rgb(255, 0, 0);
    }

    .button-banner {
        font-size: 1rem;
        padding: 5px 25px;
        border-radius: 4px;
    }

    .social-media {
        text-align: center;
        margin-top: 0px;
    }

    .social-media  br {
        display: none;
    }

    .footer-media {
        margin-left: 10px;
    }
}
